player-connection-mode=Listen
player-connection-guid=3857805960
player-connection-debug=0
player-connection-project-name=projetCollecticiel
player-connection-ip=10.3.217.103
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=049c1211ea5f4cd780a6acee022a4fb2
