player-connection-mode=Listen
player-connection-guid=2667582172
player-connection-debug=0
player-connection-project-name=projetCollecticiel
player-connection-ip=10.3.206.128
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c7c4480e4da24b11bf2e60ca7323835c
